streamlit
langchain
langchain-huggingface
langchain-community
langchain-core
langchain-text-splitters
huggingface_hub
transformers
python-dotenv
protobuf
cachetools
tornado
toml
aiohttp
sqlalchemy
pydantic
pydantic-settings
requests
tenacity
numpy
pandas